---
title: 'Demo: How to use Merge Request Commit Discussions'
author: Victor Wu
author_gitlab: victorwu
author_twitter: victorwuky
categories: engineering
image_title: '/images/blogimages/merge-request-commit-discussions.jpg'
description: "You can now hold discussions on specific commits within a merge request – check out how it works in this video."
tags: features, collaboration
---

In [GitLab 10.3](/releases/2017/12/22/gitlab-10-3-released/) we released a new feature: [Merge Request Commit Discussions](/releases/2017/12/22/gitlab-10-3-released/#merge-request-commit-discussions). This is great news for teams who work at the individual commit level, who want to be able to discuss and collaborate on different commits within one merge request. Watch the video below to see this new workflow in action.

<!-- more -->

In short: this feature (available in both GitLab [Community and Enterprise Editions](/stages-devops-lifecycle/)) allows you to add comments to [commits within a merge request](/stages-devops-lifecycle/continuous-integration/). Before you could only add comments to a particular version of a merge request. In the video, you'll see how now when you navigate to a specific commit, you're taken to the "Changes" tab, but instead of viewing the latest version, you see the diff associated with that commit.

You can then leave a comment inline as you would usually, the difference being that your comment now starts a conversation relating specifically to that commit.

If you leave a comment on another commit, that begins a separate discussion as well. All are accessible from the "Commits" tab or the Discussions" tab. You can resolve discussions as usual, with resolved discussions being collapsed by default, similar to before.

<!-- blank line -->
<figure class="video_container">
  <iframe src="https://www.youtube.com/embed/TviJH6oRboo" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
<!-- blank line -->

We hope teams who need a more granular approach to approving merge requests will find this useful! As usual, we welcome your feedback – be it on the [release blog post](/releases/2017/12/22/gitlab-10-3-released/) or by opening an issue.

[Cover image](https://unsplash.com/photos/qm3nnbaBl_4) by [Matthew Brodeur](https://unsplash.com/@mrbrodeur) on Unsplash
{: .note}
