- if (!articles.nil?)
  .section-hero
    .slp-container
      - first_article = articles.first(1)
      - first_article.each do |firstarticle|

        - image_title_first = firstarticle.data.image_title ? firstarticle.data.image_title : '/images/default-blog-image.png'
        - category = firstarticle.data.categories ? firstarticle.data.categories : 'all'
        - cat_url = category.parameterize(separator: '-')

        .hero-highlited{ href: firstarticle.url, :"data-ga-name" => "#{firstarticle.title}", :"data-ga-location" => "header" }
          .hero-highlighted-eyebrow
            %a{:href => category == 'releases' ? "/releases/categories/releases/" : "/blog/categories/#{cat_url}/", :"data-ga-name" => "#{cat_url}", :"data-ga-location" => "header"}
              = category
          %a{ href: firstarticle.url, :"data-ga-name" => "#{firstarticle.title}", :"data-ga-location" => "header" }
            .hero-highlighted-image{ style: "background-image: url(#{image_title_first}); background-position-x: center;" }
            .hero-highlighted-title
              %h3
                - if firstarticle.data.release_number
                  GitLab
                  = firstarticle.data.release_number
                  released
                - else
                  = firstarticle.title
              %p
                - if firstarticle.data.description
                  = firstarticle.data.description
                - else
                  = firstarticle.summary

        .hero-posts-wrapper
          .hero-posts
            .trending-title
              %h3
                Trending Posts
            - other_articles = articles.drop(1).map{|x| x}
            - other_articles.each do |article|

              - category_post = article.data.categories ? article.data.categories : 'all'
              - cat_url = category_post.parameterize(separator: '-')

              .post
                .hero-post-eyebrow
                  %a{:href => category_post == 'releases' ? "/releases/categories/releases/" : "/blog/categories/#{cat_url}/" , :"data-ga-name" => "#{cat_url}", :"data-ga-location" => "header" }
                    = category_post
                %a.hero-post-title{ href: article.url, :"data-ga-name" => "#{article.title}", :"data-ga-location" => "header" }
                  %h3
                    - if article.data.release_number
                      GitLab
                      = article.data.release_number
                      released
                    - else
                      = article.title
                  %p
                    - if article.data.description
                      = article.data.description
                    - else
                      = article.summary
